:root {
  --background-color: #e5e5e5;
  --header-color: #212121;
  --text-color: #757575;
  --h1-background: #2f303a;
  --web-studio-blue: #2196f3;
  --black: #000000;
  --white: #ffffff;
  --white6alpha: #ffffff99;
  --button-grey: #f5f4fa;
  --border: #eeeeee;
  --header-border: #ececec;
}
body {
  font-family: "Roboto", "Arial", "sans-serif";
  color: #212121;
  background-color: var(--white);
  justify-content: center;
  margin: 0 auto;
}
.footer-container {
  width: 1600px;
  margin-inline: auto;
}
.header-container {
  display: flex;
  width: 1600px;
  margin-inline: auto;
}
.header-box {
  background: var(--white);
  display: flex;
  align-content: center;
  margin: 24 0 0 215;
  border: solid 1px var(--header-border);
  border-width: 0px 0px 1px 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--web-studio-blue);
}

.logo {
  color: var(--web-studio-blue);
  padding-left: 215px;
}
.logo-studio {
  color: var(--black);
}
.nav-spacing {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.nav-spacing h3 {
  margin-left: 93px;
}
.nav-spacing h3 a {
  margin-right: 46px;
}
.contact-spacing {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin-left: 371px;
}
.contact-spacing svg {
  vertical-align: middle;
  margin-right: 10px;
}
.contact-spacing a {
  margin-left: 50px;
  color: var(--text-color);
}
.contact-spacing:hover,
.contact-spacing:focus,
.contact-spacing a:hover,
.contact-spacing a:focus {
  color: var(--web-studio-blue);
}

.solutions {
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url(./../images/header_background.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 1600px;
}

.solutions .content {
  text-align: center;
}
.solutions-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  display: flex;
  flex-direction: column;
}
.solutions-title span {
  white-space: nowrap;
}

.solutions-title span:first-child {
  margin-bottom: 10px;
}
.solutions-example-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
}
.solutions-example {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-color);
}
.solutions-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background: var(--white);
  padding-top: 94px;
}
.solutions-box-container {
  width: 270px;
}
.solutions-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  text-align: center;
  background: var(--button-grey);
}
.whatwedo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  padding: 0px 0 0px 0;
}

.whatwedo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  padding: 0;
  margin: 0;
}

.whatwedo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 0 94px 0;
  margin: 0;
}
.whatwedo-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.team-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: var(--button-grey);
  padding: 0;
  margin: 0;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 30px;
  background: var(--button-grey);
  padding: 0px 0 50px 0;
}
.team-container figure {
  margin-right: 0px;
  margin-left: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--white);
  padding-left: 215px;
  padding-bottom: 60px;
}
.ways-of-contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-logo {
  padding-top: 60px;
}
.footer-background {
  background-color: var(--h1-background);
}
.logo-studio-light {
  color: var(--white);
}
.address-6alpha {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--white6alpha);
}
.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}
.portfolio-types {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--header-color);
  background: var(--button-grey);
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 6px 22px;
}
.portfolio-types-box {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 100px 0 56px 0;
  background: var(--white);
  justify-content: center;
}
.portfolio-types:hover,
.portfolio-types:focus {
  background-color: var(--web-studio-blue);
}

.portfolio-types:hover,
.portfolio-types:focus,
.portfolio-types:hover a,
.portfolio-types:focus a {
  color: var(--white);
}
.gallery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--white);
  padding: 0 0 94px 0;
}

.portfolio-gallery {
  gap: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1170px;
  box-sizing: border-box;
  list-style-type: none;
}

.portfolio-gallery li {
  width: calc(33.33% - 30px);
  margin: 0 0 30px 0;
  padding: 0;
}

.gallery-box figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.gallery-box figure img {
  width: 100%;
}
.gallery-box figcaption {
  border: solid 1px var(--border);
  border-width: 0px 1px 1px 1px;
  width: 100%;
  padding-left: 24px;
}

.order-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--white);
  cursor: pointer;
  background: var(--web-studio-blue);
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 41px 10px 42px;
}
.order-service:hover a,
.order-service:focus a {
  color: var(--white6alpha);
}
.smartphone:hover,
.smartphone:focus {
  fill: var(--web-studio-blue);
}
